.event {
  border: 1px solid black;
}

.react-paginate {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.paginate-selected {
  font-weight: bold;
  border: 2px solid black;
}